{%extends 'base.html'%} {%block content%}
<article class="about active" data-page="resume">
  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Ramco Institute Of Technology</h4>

        <span>2022 — 2026</span>

        <p class="timeline-text">
          Bachelors degree in Artificial Intelligence and Data Science with CGPA
          of <span>7.7</span>
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">
          Bharathiyar Matric Higher Secondary School
        </h4>

        <span>2021 — 2022</span>

        <p class="timeline-text">
          Completed my 12th boards with the percentage of <span>74.64%</span>
        </p>
      </li>
    </ol>
  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Data analyst Intern</h4>
        <h5><span>@unified mentor</span></h5>

        <span>12/2023 — 1/2024</span>

        <p class="timeline-text">
          I have worked in various projects where I have to created reports that
          help the organization to make better decisions.
          <span
            ><a
              href="https://www.linkedin.com/posts/jayaraj-v-075185209_internship-datascience-dataanalyst-activity-7166825735716818947-W0Bb?utm_source=share&utm_medium=member_desktop"
              target="_blank"
              >> Link</a
            ></span
          >
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Data science intern</h4>
        <h5><span>@Technohacks</span></h5>

        <span>10/2023 — 20/2023</span>

        <p class="timeline-text">
          I have trained machine learning and deep learning models that can
          predict the future sales and help the company to make good decisions.
        </p>
      </li>
    </ol>
  </section>

  <section class="skill">
    <h3 class="h3 skills-title">My skills</h3>

    <ul class="skills-list content-card">
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Machine learning</h5>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Deep Learning</h5>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Python</h5>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Data analysis</h5>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Data visualization</h5>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Django</h5>
        </div>
      </li>
    </ul>
    <br />
  </section>

  <!-- <section class="service">
    <h3 class="h3 service-title">Special Links</h3>

    <ul class="service-list">
      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{{url_for('static' ,  filename='images/icon-design.svg') }}"
            alt="design icon"
            width="40"
          />
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Leetcode</h4>

          <p class="service-item-text">
            <a href="https://leetcode.com/Shreyash_chavan77/"
              >Checkout my solutions here</a
            >
          </p>
        </div>
      </li>

      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{{url_for('static' , filename='images/icon-dev.svg') }}"
            alt="Web development icon"
            width="40"
          />
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">GeeksForGeeks</h4>

          <p class="service-item-text">
            <a href="https://auth.geeksforgeeks.org/user/shreyashchavan/"
              >Problems I solved</a
            >
          </p>
        </div>
      </li>

      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{{url_for('static' , filename='images/icon-app.svg') }}"
            alt="mobile app icon"
            width="40"
          />
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">HackerRank</h4>

          <p class="service-item-text">
            > 4 Star in C<br />
            > Certified Problem Solver {Basic} 😅
            <a href="https://www.hackerrank.com/Shreyashchavan77">Checkout</a>
          </p>
        </div>
      </li>

      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{{url_for('static' , filename='images/icon-photo.svg') }}"
            alt="camera icon"
            width="40"
          />
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Write</h4>

          <p class="service-item-text">
            I share my thoughts here if I am unable to post here..
            <a href="https://dev.to/shreyashchavan/">Read More</a>
          </p>
        </div>
      </li>
    </ul>
  </section> -->

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Certifications</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Machine learning with python</h4>
        <h5><span>@IBM</span></h5>
        <p class="timeline-text">
          Learned working of machine learning algorithms.
          <span
            ><a
              href="https://www.linkedin.com/posts/jayaraj-v-075185209_machinelearning-datascience-ibm-activity-7113859903517061120-PjFt?utm_source=share&utm_medium=member_desktop"
              target="_blank"
              >> Certificate
            </a></span
          >
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Data analysis with python</h4>
        <h5><span>@IBM</span></h5>
        <p class="timeline-text">
          Learned the data analysis techniques and the steps in data science
          process.
          <span
            ><a
              href="https://www.linkedin.com/posts/jayaraj-v-075185209_completion-certificate-for-data-analysis-activity-7126933953252376576-f1Pu?utm_source=share&utm_medium=member_desktop"
              target="_blank"
              >> Certificate
            </a></span
          >
        </p>
      </li>
    </ol>
  </section>

  <button>
    <a
      href="{{ url_for('static', filename='files/jayaraj_resume.pdf') }}"
      download
    >
      Download Resume</a
    >
  </button>
</article>

{%endblock%}
